// 标准外观模式：保留 100% 原始半透明与毛玻璃模糊设置
window-rule {
    opacity 0.9
    background-effect {
        blur true
        xray false
    }
    // 圆角
    geometry-corner-radius 12
    // 去掉超出圆角的窗口内容
    clip-to-geometry true
    // 禁止边框画到背景里
    draw-border-with-background false
}

window-rule {
    match is-focused=false
    opacity 0.85
}

blur {
    passes 3
    offset 2.3
    noise 0.001
    saturation 2
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia-"
    background-effect {
        blur false
    }
}
